body {
    font-family: Arial, sans-serif;
    background-color: #141414;
    color: white;
    text-align: center;
}

.video-container {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.video-container iframe {
    width: 100%;
    height: 100%;
}

#toggle-audio {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: red;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

header {
    background-color: #e50914;
    padding: 20px;
    font-size: 24px;
}

.planos {
    margin: 20px auto;
    width: 80%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    border: 1px solid white;
}

th {
    background-color: #e50914;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.youtube { background-color: #FF0000; }
.instagram { background-color: #E1306C; }
.whatsapp { background-color: #25D366; }
